video {
  width: 100%;
  height: 80%;
  background-color: black;
}

.video-caption {
  padding: 1em 4em;
}

.video-caption a {
  color: #a19e9e;
}

.video-caption p {
  font-size: x-small;
  color: #fff;
}

/* video caption */
.name-plate {
  border-bottom: 1px solid #a19e9e4a;
  display: flex;
}
.lower-data p{
  display: none;
}
.name-desc h3 {
  color: yellow;
}

.name-desc h2 {
  color: white;
}

.name-desc {
  display: inline-block;
  width: 70%;
}

.desc-buttons {
  display: inline-block;
  width: 30%;
}

.desc-buttons button {
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  width: 25%;
  background-color: #232323;
  color: #fff;
}

.metadata-container {
  color: white;
  font-size: small;
  border-bottom: 1px solid #a19e9e4a;
}

.metadata-container pre {
  font-size: small;
  margin-left: -2em;
  display: none;
}

.metadata-container img {
  float: right;
  margin-top: 0.5em;
  cursor: pointer;
}

.roataeimg {
  transform: rotate(180deg);
}

.txt-epi {
  margin: 1em 4em;
  height: 2em;
}

.card-slider2 {
  height: 15em;
   display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  margin: 0em 4em ;
}

.card-epi {
  background: url(https://images.slivcdn.com/videoasset_images/manage_file/1000009929/1759755543485201_Show_set_Indias_Got_Talent_Season11_Format_E0001_INT_04102025_landscape_RE.jpg?h=398&w=708&q=high);
  background-size: cover;
  padding: 1em;
  align-items: end;
  position: relative;
  display: inline-block;
  min-width: 300px;
  height: 180px;
  border-radius: 10px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1.5em;
  align-items: end;
  align-content: end;
}
.card-epi p{
  color: #ffffff;
  /* align-self: baseline; */
}

.ad-big-card{
  height: 10em;
  width: 90%;
  margin: 1em 5%;
  background: url(https://images.slivcdn.com/videoasset_images/bolt_assets/web/1757773123418_coc_kbc25_newEPinfo_13sep_web_re1.jpg?h=170&w=1259&q=high);
  background-size: cover;
  border-radius: 5px;
}

.imgbg{
  background: url(https://images.slivcdn.com/videoasset_images/blitz_assets/1700001266/mastheadWebV1/1759486207790_IGT2025_2_masthead_web_v1.jpg?h=auto&w=1366&q=high);
  width: 100%;
  height: 85vh;
  -webkit-mask-image: linear-gradient(to bottom, rgb(44, 43, 43) 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, rgb(85, 85, 85) 80%, transparent 100%);
  /* padding: 6em; */
  color: #fff;
}

.imgbg p{
  color: #fff;
}
.imgbg a{
  /* text-decoration: none; */
  color: #4b4b4b;
}

.img-des
{
  background: linear-gradient(to right,#151515 40%,transparent 100%);
  padding: 6em;
  float: left;
  width: 70%;
  min-height: 85vh;
  /* height: auto; */
  font-size: small;
}
.txt-toggle{
  color: #ffc900;
  display: inline;
  position: relative;
}
.txt-toggle:hover{
transform: scale(1.1);
  transition: transform 0.2s;
}


.ex-txt,pre{
  display: none;
  margin-top: -200px;
}

.btnplay{
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  font-weight: 700;
  font-size: medium;
}
.btnsub{
   border: none;
  border-radius: 5px;
  background: linear-gradient(to right , rgba(60, 60, 64, 0.6),rgba(77, 77, 98, 0.6));
  padding: 1em;
  font-weight: 400;
  font-size: medium;
  /* width: 800px;   */
  color: #fff;
}
.btnsub span{
  background:linear-gradient(to right , rgb(232, 232, 76),rgb(148, 72, 9));
  padding: 0.5em;
  border-radius: 5px;
  color: #fff;
  font-size: medium;
  font-weight: 500;
}


/* spoert  */

.selction-menu-sport{
  display: inline;
  float: right;
  /* border: 2px solid white; */
  justify-content: space-between;
  position: relative;
  top: -2em;
  left:-6em;
}

.selction-menu-sport button{
  height: 2em;
  border: none;
  /* background-color: #fff; */
  font-size: small;
  background-color: transparent;
  color: #fff;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 20px;
}

.selction-menu-sport .active{
   background-color: #fff;
   color: #000;
}

/* hover effect */
p:hover {
  transform: none;
}
.desc-buttons button:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}
.txt-epi h6:hover{
    transform: scale(1.05);
  transition: transform 0.2s;
}
.card-epi:hover{
  transform: scale(1.05);
  transition: transform 0.2s;
}

.ad-big-card:hover{
  transform: scale(1.05);
  transition: transform 0.2s;
}
#back-btn:hover{
  transform: scale(1.1);
  transition: transform 0.2s;
}